<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SparkApp</title>
</head>
<body>
    <h1>House Sales Prediction App</h1>
    <br>
    <h2><p>Please enter the customer ID (an integer between 1 and 299)</p></h2>    
    <form action="#" method="post" novalidate>
        <p>Enter Customer ID:</p> 
        <input type="text" name="cid" id="cid" name="cid">
        <button type="submit" name="submit" value="Submit">Submit</button>
    </form>
</body>
</html>